<div class="container">
  <h2>新しいタスクを登録する</h2>
  <%= form_with model: @task, local: true do |f|  %>
    <p>タスク名：<%= f.text_field :name %></p>
    <p>内容：<%= f.text_field :contents %></p>
    <p>優先度(１〜５)：<%= f.select :priority, (1..5).to_a %></p>
    <p>期限：<%= f.date_field :deadline %></p>
    <%= f.submit "送信" %>
  <% end %>
  <%= link_to "戻る", tasks_path %>
</div>
