<div class="container">
  <h2>詳細画面</h2>
  <p>No.<%= @task.id %></p>
  <p>タスク名：<%= @task.name %></p>
  <p>内容：<%= @task.contents %></p>
  <p>優先度(１〜５)：<%= @task.priority %></p>
  <p>期限：<%= @task.deadline %></p>
  <p>作成日：<%= @task.created_at %></p>
  <p class="btn btn-warning"><%= link_to '編集', edit_task_path(@task) %></p>
  <p class="btn btn-warning"><%= link_to '削除', task_path(@task), method: :delete, data: {confirm: "削除しますか?"} %></p>
  <p class="btn"><%= link_to "戻る", tasks_path %></p>
</div>

